<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show actors</title>
</head>
<body>
<table border="1">
    <tr>
        <td>id</td>
        <td>first name</td>
        <td>last name</td>
        <td>last update</td>
    </tr>
    <tr th:each="actor,status : ${actors}">
        <td th:text="${actor.actorId}"></td>
        <td th:text="${actor.firstName}"></td>
        <td th:text="${actor.lastName}"></td>
        <td th:text="${#temporals.format(actor.lastUpdate, 'yyyy-MM-dd')}"></td>
    </tr>
</table>
</body>
</html>