<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 5px 5px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: gray;
        color: white;
        border-radius: 2px;
    }
</style>
<head>
    <title>Actor List</title>
</head>
<body>
<h1>Actor List</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Last Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="actor, iStat : ${actorPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${actor.actorId}" />
        <td th:text="${actor.firstName}" />
        <td th:text="${actor.lastName}" />
        <td th:text="${actor.lastUpdate}" />
    </tr>
    </tbody>
</table>
<div th:if="${actorPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/displaypagedactors(size=${actorPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==actorPage.number + 1} ? active"></a>
</div>

</body>
</html>