<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="sakila/head::static('Add language')"></div>
<div th:replace="sakila/navigation"></div>
<body>
<a href="/language-list">Language list</a>
<br>
<h4 class="text-center">Add a language</h4>

<form class="col-md-4 offset-md-4" action="savelanguage" th:object="${language}" method="post">
    <table class="table table-striped">
        <tr>
            <td><label class="form-label">Name</label></td>
            <td><input type="text" class="form-control" name="name" th:value="${language.name}"></td>
        </tr>
        <tr>
            <td><label class="form-label">Date</label></td>
            <td><input type="date" class="form-control" name="lastUpdate" th:value="${language.lastUpdate}"></td>
        </tr>
    </table>

    <input type="submit" class="btn btn-primary" value="Submit">
</form>

</body>
</html>