<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="sakila/head::static('Show film')"></div>
<div th:replace="sakila/navigation"></div>
<body>
<div>
    <a href="/film-list">film list</a>
</div>

<h1 class="text-blue text-center" th:text="${film.title}"></h1>

<div class="container my-5 col-md-8">
    <table class="table table-striped table-hover">
        <tr>
            <td>Description</td>
            <td th:text="${film.description}"></td>
        </tr>
        <tr>
            <td>Release Year</td>
            <td th:text="${film.releaseYear}"></td>
        </tr>
        <tr>
            <td>Language</td>
            <td th:text="${film.language.name}"></td>
        </tr>
        <tr>
            <td>Rental Duration</td>
            <td th:text="${film.rentalDuration}"></td>
        </tr>
        <tr>
            <td>Rental Rate</td>
            <td th:text="${film.rentalRate}"></td>
        </tr>
        <tr>
            <td>Length</td>
            <td th:text="${film.length}"></td>
        </tr>
        <tr>
            <td>Rating</td>
            <td th:text="${film.rating}"></td>
        </tr>
        <tr>
            <td>Special Features</td>
            <td th:text="${film.specialFeatures}"></td>
        </tr>
        <tr>
            <td>Categories</td>
            <td>
                <ul>
                    <li th:each="a : ${film.categories}">
                        <span th:text="${a.name}"></span>
                    </li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>Actors</td>
            <td>
                <ul>
                    <li th:each="a : ${film.playedActors}">
                        <span th:text="${a.firstName} + ' ' + ${a.lastName}"></span>
                    </li>
                </ul>
            </td>
        </tr>

    </table>
</div>

</body>
</html>