<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="sakila/head::static('Show staffs')"></div>
<div th:replace="sakila/navigation"></div>
<body>
<a href="/sakila">Sakila home</a>
<br>
<div class="container my-5 col-md-8">
    <table class="table table-striped table-hover">
        <tr>
            <th>staff id</th>
            <th>first name</th>
            <th>last name</th>
            <th>email</th>
            <th>address</th>
        </tr>
        <tr th:each="s : ${staffs}">
            <td th:text="${s.staffId}"></td>
            <td th:text="${s.firstname}"></td>
            <td th:text="${s.lastname}"></td>
            <td th:text="${s.email}"></td>
            <td th:text="${s.address.address}"></td>
        </tr>
    </table>
</div>
</body>
</html>